
/* #plus_plan {
    background: #d5ffdc;
    width: 85%;
    height: 428;
    padding: 10px;
    margin-top: 10px;
    border: 3px solid #ff4500;
} */

main{
    padding-top: 32px;
}

.packages{
    width: 80%;
    margin: 16px 0;
    border: 4px solid black;
    border-left: none;
}
.packages:hover,
.packages:active{
    box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
     /* method 2 */
    border-color: #ff5454 !important;
}
.packages a{
   text-decoration: none;
   color: inherit;
   display: block;
   padding: 32px;
}

.clearfix{
    clear: both;
}

#plus{
    background: #d5ffdc;
}
#free{
    background: #d5ffdc;
    float: right;
    border-right: none;
    border-left: 4px solid black;
}
/* 1 method */
/* #free:hover,
#free:active{
    border-left-color: #ff5454;
} */
#premium {
    background: #0e4f1f;
}
#premium .plan-title{
    color: white;
}

.plan-description{
    color: black;
    background: white;
    padding: 16px;
    border: 1.5px solid #0e4f1f;
    font-size: 20px;
    border-radius: 5px;
    width: auto;
    height: auto;
    
}



.plan-choice{
    color: #808080;
}



/* .plan h1{
    color: black;
    
} */




