p{
    color: green;
    font-size: 30px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    text-transform: capitalize;
    letter-spacing: 5px;
    /* text-decoration: line-through; */
    word-wrap: break-word;
    word-spacing: 2px;
}
body{
    background-color: red;
    margin: 0;
    padding: 0;
}
h1{
    color: black;
    font-weight: bold;
    text-align: end;
}
/* img{
    /* vertical-align: text-bottom; */

    /* position: relative;
    top: left; */
  


    .left-img {
        float: left;
        margin-right: 20px;
        max-width: 300px;
        height: auto;
    }